In [1]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
pathApo = "./Apopka"
pathArc = "./Arcadia"
pathBal = "./Balm"
pathBro = "./Bronson"
pathCit = "./Citra"
pathDov = "./Dover"
pathFlo = "./FloralCity"
pathLak = "./LakeAlfred"
pathPla = "./PlantCity"
pathUma = "./Umatilla"


csv_filesApo = glob.glob(os.path.join(pathApo, "*.csv"))
csv_filesApo.remove("./Apopka/2021.csv")
csv_filesApo.remove("./Apopka/2022.csv")
csv_filesApo.remove("./Apopka/2023.csv")

csv_filesArc = glob.glob(os.path.join(pathArc, "*.csv"))
csv_filesArc.remove("./Arcadia/2021.csv")
csv_filesArc.remove("./Arcadia/2022.csv")
csv_filesArc.remove("./Arcadia/2023.csv")

csv_filesBal = glob.glob(os.path.join(pathBal, "*.csv"))
csv_filesBal.remove("./Balm/2021.csv")
csv_filesBal.remove("./Balm/2022.csv")
csv_filesBal.remove("./Balm/2023.csv")

csv_filesBro = glob.glob(os.path.join(pathBro, "*.csv"))
csv_filesBro.remove("./Bronson/2021.csv")
csv_filesBro.remove("./Bronson/2022.csv")
csv_filesBro.remove("./Bronson/2023.csv")

csv_filesCit = glob.glob(os.path.join(pathCit, "*.csv"))
csv_filesCit.remove("./Citra/2021.csv")
csv_filesCit.remove("./Citra/2022.csv")
csv_filesCit.remove("./Citra/2023.csv")

csv_filesDov = glob.glob(os.path.join(pathDov, "*.csv"))
csv_filesDov.remove("./Dover/2021.csv")
csv_filesDov.remove("./Dover/2022.csv")
csv_filesDov.remove("./Dover/2023.csv")

csv_filesFlo = glob.glob(os.path.join(pathFlo, "*.csv"))
csv_filesFlo.remove("./FloralCity/2022.csv")
csv_filesFlo.remove("./FloralCity/2023.csv")

csv_filesLak = glob.glob(os.path.join(pathLak, "*.csv"))
csv_filesLak.remove("./LakeAlfred/2021.csv")
csv_filesLak.remove("./LakeAlfred/2022.csv")
csv_filesLak.remove("./LakeAlfred/2023.csv")

csv_filesPla = glob.glob(os.path.join(pathPla, "*.csv"))
csv_filesPla.remove("./PlantCity/2022.csv")
csv_filesPla.remove("./PlantCity/2023.csv")

csv_filesUma = glob.glob(os.path.join(pathUma, "*.csv"))
csv_filesUma.remove("./Umatilla/2021.csv")
csv_filesUma.remove("./Umatilla/2022.csv")
csv_filesUma.remove("./Umatilla/2023.csv")



csv_list = [csv_filesApo,
            csv_filesArc,
            csv_filesBal,
            csv_filesBro,
            csv_filesCit,
            csv_filesDov,
            csv_filesFlo,
            csv_filesLak,
            csv_filesPla,
            csv_filesUma]
     
print(csv_list)

[['./Apopka/1997.csv', './Apopka/2008.csv', './Apopka/2020.csv', './Apopka/2009.csv', './Apopka/2019.csv', './Apopka/2018.csv', './Apopka/2001.csv', './Apopka/2015.csv', './Apopka/2014.csv', './Apopka/2000.csv', './Apopka/2016.csv', './Apopka/2002.csv', './Apopka/2003.csv', './Apopka/2017.csv', './Apopka/2013.csv', './Apopka/2007.csv', './Apopka/2006.csv', './Apopka/2012.csv', './Apopka/2004.csv', './Apopka/2010.csv', './Apopka/2011.csv', './Apopka/2005.csv', './Apopka/1999.csv', './Apopka/new2021.csv', './Apopka/1998.csv', './Apopka/new2022.csv'], ['./Arcadia/2008.csv', './Arcadia/2020.csv', './Arcadia/2009.csv', './Arcadia/2019.csv', './Arcadia/2018.csv', './Arcadia/2015.csv', './Arcadia/2014.csv', './Arcadia/2016.csv', './Arcadia/2017.csv', './Arcadia/2013.csv', './Arcadia/2007.csv', './Arcadia/2006.csv', './Arcadia/2012.csv', './Arcadia/2010.csv', './Arcadia/2011.csv', './Arcadia/2005.csv', './Arcadia/new2021.csv', './Arcadia/new2022.csv'], ['./Balm/2008.csv', './Balm/2020.csv', './Balm/2009.csv', './Balm/2019.csv', './Balm/2018.csv', './Balm/2015.csv', './Balm/2014.csv', './Balm/2016.csv', './Balm/2003.csv', './Balm/2017.csv', './Balm/2013.csv', './Balm/2007.csv', './Balm/2006.csv', './Balm/2012.csv', './Balm/2004.csv', './Balm/2010.csv', './Balm/2011.csv', './Balm/2005.csv', './Balm/new2021.csv', './Balm/new2022.csv'], ['./Bronson/2008.csv', './Bronson/2020.csv', './Bronson/2009.csv', './Bronson/2019.csv', './Bronson/2018.csv', './Bronson/2015.csv', './Bronson/2014.csv', './Bronson/2016.csv', './Bronson/2002.csv', './Bronson/2003.csv', './Bronson/2017.csv', './Bronson/2013.csv', './Bronson/2007.csv', './Bronson/2006.csv', './Bronson/2012.csv', './Bronson/2004.csv', './Bronson/2010.csv', './Bronson/2011.csv', './Bronson/2005.csv', './Bronson/new2021.csv', './Bronson/new2022.csv'], ['./Citra/2008.csv', './Citra/2020.csv', './Citra/2009.csv', './Citra/2019.csv', './Citra/2018.csv', './Citra/2001.csv', './Citra/2015.csv', './Citra/2014.csv', './Citra/2000.csv', './Citra/2016.csv', './Citra/2002.csv', './Citra/2003.csv', './Citra/2017.csv', './Citra/2013.csv', './Citra/2007.csv', './Citra/2006.csv', './Citra/2012.csv', './Citra/2004.csv', './Citra/2010.csv', './Citra/2011.csv', './Citra/2005.csv', './Citra/new2021.csv', './Citra/new2022.csv'], ['./Dover/2008.csv', './Dover/2020.csv', './Dover/2009.csv', './Dover/2019.csv', './Dover/2018.csv', './Dover/2001.csv', './Dover/2015.csv', './Dover/2014.csv', './Dover/2016.csv', './Dover/2002.csv', './Dover/2003.csv', './Dover/2017.csv', './Dover/2013.csv', './Dover/2007.csv', './Dover/2006.csv', './Dover/2012.csv', './Dover/2004.csv', './Dover/2010.csv', './Dover/2011.csv', './Dover/2005.csv', './Dover/1999.csv', './Dover/new2021.csv', './Dover/1998.csv', './Dover/new2022.csv'], ['./FloralCity/new2022.csv'], ['./LakeAlfred/1997.csv', './LakeAlfred/2008.csv', './LakeAlfred/2020.csv', './LakeAlfred/2009.csv', './LakeAlfred/2019.csv', './LakeAlfred/2018.csv', './LakeAlfred/2001.csv', './LakeAlfred/2015.csv', './LakeAlfred/2014.csv', './LakeAlfred/2016.csv', './LakeAlfred/2002.csv', './LakeAlfred/2003.csv', './LakeAlfred/2017.csv', './LakeAlfred/2013.csv', './LakeAlfred/2007.csv', './LakeAlfred/2006.csv', './LakeAlfred/2012.csv', './LakeAlfred/2004.csv', './LakeAlfred/2010.csv', './LakeAlfred/2011.csv', './LakeAlfred/2005.csv', './LakeAlfred/1999.csv', './LakeAlfred/new2021.csv', './LakeAlfred/1998.csv', './LakeAlfred/new2022.csv'], ['./PlantCity/new2022.csv'], ['./Umatilla/1997.csv', './Umatilla/2008.csv', './Umatilla/2020.csv', './Umatilla/2009.csv', './Umatilla/2019.csv', './Umatilla/2018.csv', './Umatilla/2001.csv', './Umatilla/2015.csv', './Umatilla/2014.csv', './Umatilla/2000.csv', './Umatilla/2016.csv', './Umatilla/2002.csv', './Umatilla/2003.csv', './Umatilla/2017.csv', './Umatilla/2013.csv', './Umatilla/2007.csv', './Umatilla/2006.csv', './Umatilla/2012.csv', './Umatilla/2004.csv', './Umatilla/2010.csv', './Umatilla/2011.csv', './Umatilla/2005.csv', './Umatilla/1999.csv', './Umatilla/new2021.csv', './Umatilla/1998.csv', './Umatilla/new2022.csv']]

In [2]:
# Read each CSV file into DataFrame
import pandas as pd

big_df = pd.DataFrame()
dfs = []

for folder in csv_list:
    for file in folder:
        df = pd.read_csv(file)
        dfs.append(df)

big_df = pd.concat(dfs, ignore_index=True)

In [3]:
big_df.columns = ['StationID', 'StationName', 'Date', 'Time', 'SoilTemp_C','Temp60cm_C', 'Temp2m_C','Temp10m_C', 'RelatHumidity','DewPointTemp_C', 'Rainfall_IN','WindSpeed_MPH', 'WindDirection_DEG','SolarRad_WM2']

In [4]:
big_df.head()

,StationID,StationName,Date,Time,SoilTemp_C,Temp60cm_C,Temp2m_C,Temp10m_C,RelatHumidity,DewPointTemp_C,Rainfall_IN,WindSpeed_MPH,WindDirection_DEG,SolarRad_WM2
0,320,APOPKA,1997-12-19,17:15:00,17.73,17.11,17.93,18.23,55.39,8.10,0.04,5.70,316.1,61.55
1,320,APOPKA,1997-12-19,17:30:00,17.57,16.10,17.00,17.75,63.12,9.08,NaN,7.23,329.2,17.85
2,320,APOPKA,1997-12-19,17:45:00,17.37,13.92,15.50,16.97,67.24,7.94,NaN,6.82,324.6,3.21
3,320,APOPKA,1997-12-19,18:00:00,17.14,13.47,15.31,17.30,67.92,7.66,NaN,6.86,319.1,0.18
4,320,APOPKA,1997-12-19,18:15:00,16.91,11.55,13.03,15.83,77.30,7.71,NaN,5.74,333.3,NaN

In [5]:
big_df.shape

(6124816, 14)

In [6]:
# Date: from object (Series) to date (YYYY-MM-DD)
# DOY: from date (YYYY-MM-DD) to day of year (doy = 1-366)

from datetime import datetime
import time

big_df['doy']=0
big_df['tod'] = 0

for index, row in big_df.iterrows():
    strDate = row['Date']
    objDate = datetime.strptime(strDate, "%Y-%m-%d")
    day = objDate.timetuple().tm_yday
    year = objDate.timetuple().tm_year
    mon = objDate.timetuple().tm_mon
    if (year == 2000 or year == 2004 or year == 2008 or year == 2012 or year == 2016 or year == 2020):
        if (mon > 2):
            day = day - 1
    
    big_df.at[index,'doy'] = day
    
    strTime = row['Time']
    objTime = time.strptime(strTime, "%H:%M:%S")
    big_df.at[index,'tod'] = objTime.tm_hour*4 + objTime.tm_min/15 + 1

In [7]:
big_df['tod'] = big_df['tod'].astype(int)
big_df.dtypes

StationID              int64
StationName           object
Date                  object
Time                  object
SoilTemp_C           float64
Temp60cm_C           float64
Temp2m_C             float64
Temp10m_C            float64
RelatHumidity        float64
DewPointTemp_C       float64
Rainfall_IN          float64
WindSpeed_MPH        float64
WindDirection_DEG    float64
SolarRad_WM2         float64
doy                    int64
tod                    int64
dtype: object

In [8]:
big_df.head()

,StationID,StationName,Date,Time,SoilTemp_C,Temp60cm_C,Temp2m_C,Temp10m_C,RelatHumidity,DewPointTemp_C,Rainfall_IN,WindSpeed_MPH,WindDirection_DEG,SolarRad_WM2,doy,tod
0,320,APOPKA,1997-12-19,17:15:00,17.73,17.11,17.93,18.23,55.39,8.10,0.04,5.70,316.1,61.55,353,70
1,320,APOPKA,1997-12-19,17:30:00,17.57,16.10,17.00,17.75,63.12,9.08,NaN,7.23,329.2,17.85,353,71
2,320,APOPKA,1997-12-19,17:45:00,17.37,13.92,15.50,16.97,67.24,7.94,NaN,6.82,324.6,3.21,353,72
3,320,APOPKA,1997-12-19,18:00:00,17.14,13.47,15.31,17.30,67.92,7.66,NaN,6.86,319.1,0.18,353,73
4,320,APOPKA,1997-12-19,18:15:00,16.91,11.55,13.03,15.83,77.30,7.71,NaN,5.74,333.3,NaN,353,74

In [9]:
sortedData = big_df.sort_values(by=['StationName','Date','Time'])

In [14]:
sortedData.head()

,StationID,StationName,Date,Time,SoilTemp_C,Temp60cm_C,Temp2m_C,Temp10m_C,RelatHumidity,DewPointTemp_C,Rainfall_IN,WindSpeed_MPH,WindDirection_DEG,SolarRad_WM2,doy,tod
0,320,APOPKA,1997-12-19,17:15:00,17.73,17.11,17.93,18.23,55.39,8.10,0.04,5.70,316.1,61.55,353,70
1,320,APOPKA,1997-12-19,17:30:00,17.57,16.10,17.00,17.75,63.12,9.08,NaN,7.23,329.2,17.85,353,71
2,320,APOPKA,1997-12-19,17:45:00,17.37,13.92,15.50,16.97,67.24,7.94,NaN,6.82,324.6,3.21,353,72
3,320,APOPKA,1997-12-19,18:00:00,17.14,13.47,15.31,17.30,67.92,7.66,NaN,6.86,319.1,0.18,353,73
4,320,APOPKA,1997-12-19,18:15:00,16.91,11.55,13.03,15.83,77.30,7.71,NaN,5.74,333.3,NaN,353,74

In [15]:
sortedData.shape

(6124816, 16)

In [16]:
# get data only after 2005
df = sortedData[~(sortedData['Date'] < '2005-01-01')]


for i in range(2005,2023):
    from_ts = str(i)+'-02-29'
    to_ts = str(i)+'-10-31'
    df = df[(df['Date'] < from_ts) | (df['Date'] > to_ts)]


#delete the start of 2005
from_ts = '2005-01-01'
to_ts = '2005-10-31'
df = df[(df['Date'] < from_ts) | (df['Date'] > to_ts)]

#delete the end of 2022
from_ts = '2022-03-01'
to_ts = '2022-12-31'
df = df[(df['Date'] < from_ts) | (df['Date'] > to_ts)]


df.head()

,StationID,StationName,Date,Time,SoilTemp_C,Temp60cm_C,Temp2m_C,Temp10m_C,RelatHumidity,DewPointTemp_C,Rainfall_IN,WindSpeed_MPH,WindDirection_DEG,SolarRad_WM2,doy,tod
698717,320,APOPKA,2005-11-01,00:00:00,21.35,14.78,14.96,16.88,95.9,14.31,NaN,5.55,39.03,0.25,305,1
698718,320,APOPKA,2005-11-01,00:15:00,21.26,14.64,15.37,16.69,96.2,14.77,NaN,5.47,38.48,0.26,305,2
698719,320,APOPKA,2005-11-01,00:30:00,21.16,14.63,15.64,16.67,96.5,15.08,NaN,5.14,49.75,0.29,305,3
698720,320,APOPKA,2005-11-01,00:45:00,21.08,14.85,15.44,16.60,96.3,14.85,NaN,5.84,47.41,0.33,305,4
698721,320,APOPKA,2005-11-01,01:00:00,20.99,15.14,15.58,16.38,96.2,14.98,NaN,4.31,45.99,0.34,305,5

In [17]:
df.shape

(1559709, 16)

In [18]:
df.to_csv('StrawberrySeasonData.csv', index=False)

In [32]:
dfRH = df.loc[(df['RelatHumidity'] < 101), ['StationID', 'StationName', 'Date', 'Time', 'RelatHumidity']]

In [33]:
dfRH = dfRH.reset_index(drop=True)
dfRH.head()

   StationID StationName        Date      Time  RelatHumidity
0        320      APOPKA  2005-11-01  00:00:00           95.9
1        320      APOPKA  2005-11-01  00:15:00           96.2
2        320      APOPKA  2005-11-01  00:30:00           96.5
3        320      APOPKA  2005-11-01  00:45:00           96.3
4        320      APOPKA  2005-11-01  01:00:00           96.2

In [ ]:
dfRH.to_csv('StrawberryRelSeasonData.csv', index=False)

In [34]:
dfRH.shape

(1559326, 5)